#title {
  background-color: #ff4c68;
  height: 550px;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  padding-right: 380px;
  padding-left: 200px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 100px;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #ff0000;
}
a.navbar-brand {
  font-size: 30px;
}

.nav-item {
  padding-right: 40px;
}
.rh1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1.5;
  size: 3rem;
}

.rh1 {
  padding-top: 100px;
  padding-left: 200px;
}
.btn-container {
  padding-left: 200px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.imgrot {
  transform: rotate(20deg);
  padding-top: 50px;
  position: absolute;
  width: 20% !important;
  height: 100% !important;
}
#features {
  padding: 150px;
  text-align: center;
  position: relative;
  background-color: white;
  z-index: 1;
}
.ficon {
  margin-bottom: 10px;
  color: #ff4c68;
  transition: filter 0.3s ease;
}
.ficon:hover {
  filter: brightness(70%);
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-item {
  padding: 7% 15%;
}
#testimonials h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
}
.press-logo {
  width: 16%;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding: 3% 5%;
}
.card-header,
.card-body,
.card-footer {
  border: none !important;
}
.card-body h2 {
  font-weight: bolder;
}
@media (max-width: 992px) {
  #title {
    text-align: center;
  }
  .imgrot {
    position: static;
    transform: rotate(0);
  }
}
#cta {
  background-color: #ff4c68;
  padding: 130px;
  text-align: center;
}
#cta h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 50px;
  line-height: 1.5;
  
}
.last-btn{
  padding-top: 50px;
}
.footerr{
  padding: 100px;
  text-align: center;
}
.foot{
  padding-right: 15px;
  padding-bottom: 20px;
}
#footer p{
  opacity: 0.6;
}