.first-div{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.second-div{
    display: inline-block;
    width: 1000px;
    height: 1000px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}