.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice { 
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
  text-align: center;
  margin-top: 50px;
}
#myButton {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text color */
  border: none;
  padding: 15px 100px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Kablammo', cursive;
  font-size: xx-large;
}

#myButton:hover {
  background-color: #45a049; /* Darker green on hover */
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
