<%- include('header'); -%>




  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/compose.css">
  </head>

  <body>
    <div class="compose-fdiv">
      <div class="compose-insidediv">
        <form action="/" method="post">
          <h3>Title:</h3>
          <input class="title-input" type="text" name="titleName"> <br>
          <h3>Content:</h3>
          <textarea class="content-input" name="contents"></textarea><br>

          <button class="c-btn" name="composeButton" type="submit" value="composes"> Add this to blog</button>
        </form>
      </div>


    </div>
  </body>

  </html>
























  <%- include('footer'); -%>