<%- include('header'); -%>



    <div class="row row-container">
        <div class="col-lg-3 first">
            <h1>Address</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quam repudiandae amet vitae quasi? Suscipit,
                alias eos eligendi commodi voluptate quaerat porro nobis voluptates accusantium, quis ut dicta est
                ducimus.</p>
        </div>
        <div class="col-lg-3 first">
            <h1>Address</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quam repudiandae amet vitae quasi? Suscipit,
                alias eos eligendi commodi voluptate quaerat porro nobis voluptates accusantium, quis ut dicta est
                ducimus.</p>
        </div>
        <div class="col-lg-3 first">
            <h1>Address</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quam repudiandae amet vitae quasi? Suscipit,
                alias eos eligendi commodi voluptate quaerat porro nobis voluptates accusantium, quis ut dicta est
                ducimus.</p>
        </div>

    </div>

    <%- include('footer'); -%>