<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/singlepage.css">
    
</head>

<body>
    <header>
        <nav>  
            <h1 class="nav-h1">Suman Pandit Blog</h1>
            <div class="container">
                <ul class="nav-ul">
                    <li class="nav-li" ><a class="nav-a" href="HomeAction"> <i class="fa-regular fa-house"></i>  Home</a></li>
                    <li class="nav-li" ><a class="nav-a" href="AboutAction">About</a></li>
                    <li class="nav-li" ><a class="nav-a" href="BlogAction">Blog</a></li>
                    <li class="nav-li" ><a class="nav-a" href="ContactAction">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>