body{
    margin: 0;
}
.a{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 100px;
}
.b{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 106);
    position: absolute;
    left: 200px;
    top: 200px;
}
.c{
    height: 100px;
    width: 100px;
    background-color: rgb(91, 0, 0);
    position: absolute;
    bottom: 474px;
    left: 0px;
    
}